<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>index</title>
</head>
	<body>
		<form action="../redis/show.do">
			<input type="text" name="key">
			<input type="submit" value="显示">
			<div>result:$!{show}</div>
		</form>
		<form action="../redis/set.do">
			<div>key:<input type="text" name="key"></div>
			<div>value:<input type="text" name="value"></div>
			<input type="submit" value="提交">
		</form>
	</body>
</html>